{% extends  "Base/base.html"%}
{% load staticfiles %}

{% block navBarTop %}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url "cursos:todos" %}"><img src="{%  static 'logo.png' %}" height="40" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDespegableTop" aria-controls="navbarDespegableTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarDespegableTop">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url "cursos:todos" %}">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "user:logout" %}">Salir</a>
      </li>

    </ul>
          <ul class="navbar-nav navbar-right">
      <li class="nav-item"><h5 class="h5-responsive white-text">Bienvenido {{ user.first_name }}</h5></li>
   </ul>
  </div>
</nav>

{% endblock %}

{% block contenido %}


<section class=" mdb-color blue-grey lighten-4">
    <div class="container">
    <div class="card mt-4  blue-grey lighten-5">
        <div class="card-header">
            <p class="h4 text-center py-2">Añadir nuevo curso</p>
        </div>
        <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
             <div class="md-form">
                 <i class="fab fa-discourse fa-fw prefix grey-text"></i>
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
                {% for error in form.nombre.errors %}
                    <div class="invalid-feedback visible d-inline">{{ error|escape }}</div>
                {% endfor %}
            </div>
            <div class="md-form">
                <i class="fas fa-comment fa-fw prefix grey-text"></i>
                {{ form.desc.label_tag }}
                {{ form.desc }}
                {% for error in form.desc.errors %}
                    <div class="invalid-feedback visible d-inline">{{ error|escape }}</div>
                {% endfor %}
            </div>
            <div class="md-form">
                <i class="fas fa-clock fa-fw prefix grey-text"></i>
                {{ form.umbral.label_tag }}
                {{ form.umbral }}
                {% for error in form.umbral.errors %}
                    <div class="invalid-feedback visible d-inline">{{ error|escape }}</div>
                {% endfor %}
            </div>

            <div class="md-form">
                <i class="fas fa-file-excel fa-fw prefix grey-text"></i>
                <label class="custom-file-label" for="{{ form.documento.auto_id }}"> {{ form.documento.label }}</label>
                {{ form.documento }}
                {% for error in form.documento.errors %}

                    <div class="invalid-feedback visible d-inline mt-1">{{ error|escape }}</div>
                {% endfor %}
            </div>
            {% csrf_token %}
            <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-primary " type="submit">Enviar<i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </div>
            </div>
    </div>
    </section>


{% endblock %}

{% block jsBody %}

    <script type="text/javascript">
            var id ="{{ form.documento.auto_id }}";

            $('#'+id).on('change',function(){
                //get the file name
                var fileName = $(this).val().split('\\').pop();
                //replace the "Choose a file" label
               $($('.custom-file-label')[0]).html(fileName);
            })
    </script>
{% endblock %}