{% load staticfiles %}
{% include  "Base/base.html" with tittle=curso.nombre%}
{% block jsLoad %}<script defer src="{% static 'js/Chart.bundle.min.js' %}"></script>{% endblock %}
{% block navBarTop %}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url "graph:index" %}">GraphLog Education</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDespegableTop" aria-controls="navbarDespegableTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarDespegableTop">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "cursos:todos" %}">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "user:logout" %}">Salir</a>
      </li>
    </ul>
  </div>
</nav>

{% endblock %}

{% block contenido %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ curso.nombre }}</h1>
        <div id="container_charts" class="container">

        </div>
    </div>
    </div>

<script>

     $(document).ready(function() {

         $.ajax({
             type:"POST",
             url:"{% url "cursos:ajax" %}",
             data: {
                'id': {{ curso.id }}
             },
             dataType: 'json',
             success:crearGraficos
         });

     });


    function crearGraficos(datos) {

    }
</script>
{% endblock %}