{% extends  "Base/base.html"%}
{% load staticfiles %}
{% block jsLoad %}
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" />
    <script src="{% static 'js/select2.full.min.js' %}"></script>

{% endblock %}
{% block navBarTop %}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url "cursos:todos" %}">GraphLog Education</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDespegableTop" aria-controls="navbarDespegableTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarDespegableTop">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "cursos:todos" %}">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "user:logout" %}">Salir</a>
      </li>
    </ul>
  </div>
</nav>

{% endblock %}
{% block contenido %}

    {% if form.errors %}
        <div class="alert alert-error">
          <h4>Please fix the following errors</h4>
          <ul>
            {% for field in form %}
              {% if field.errors %}
                {% for error in field.errors %}
                  <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
          {% if form.non_field_errors %}
            {{ form.non_field_errors }}
          {% endif %}
        </div>
    {% endif %}
<section class=" mdb-color blue-grey lighten-4">
    <div class="container">
    <div class="card mt-4  blue-grey lighten-5">
        <div class="card-header">
            {{ curso.nombre }}
        </div>
        <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
             <div class="md-form">
                 <i class="fab fa-discourse fa-fw prefix grey-text"></i>
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
            </div>
            <div class="md-form">
                <i class="fas fa-comment fa-fw prefix grey-text"></i>
                {{ form.desc.label_tag }}
                {{ form.desc }}
            </div>
            <div class="md-form">
                <i class="fas fa-clock fa-fw prefix grey-text"></i>
                {{ form.umbral.label_tag }}
                {{ form.umbral }}
            </div>

            <div class="md-form">
                <i class="fas fa-file-excel fa-fw prefix grey-text"></i>
                <label class="custom-file-label" for="{{ form.documento.id_for_label }}"> {{ form.documento.label }}</label>
                <input name="documento" class="custom-file-input" required="" id="{{ form.documento.auto_id }}" type="file">
            </div>
            {% csrf_token %}
            <div class="row my-3 d-flex justify-content-center">
            <div class="text-center py-4 mt-3">
                <button class="btn btn-warning " type="submit">Actualizar<i class="fas fa-save fa-lg pl-1"></i></button>
            </div>
            <div class="text-center py-4 mt-3">
                <button class="btn btn-danger" >Eliminar<i class="fas fa-exclamation-triangle fa-lg pl-1"></i></button>
            </div>
            </div>
        </form>
    </div>
            </div>
    </div>
    </section>
    <script type="text/javascript">
        var id ="{{ form.documento.auto_id }}";
        var doc =  $('#'+id);
        doc.on('change',function(){
            //get the file name
            var fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
{% endblock %}