<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <!-- Django apps only -->
    <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="WSGI_HANDLER" value="GraphLogEducation.wsgi.application"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
    <add key="DJANGO_SETTINGS_MODULE" value="GraphLogEducation.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="D:\home\python364x64\python.exe|D:\home\python364x64\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <httpErrors errorMode="Detailed"></httpErrors>
    <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
   </security>
  </system.webServer>
  <system.web>
     <customErrors mode="Off" />
     <httpRuntime maxRequestLength="50000" />
</system.web>
</configuration>