{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script defer src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'js/fontawesome-all.min.js' %}"></script>
    {% block jsLoad %}{% endblock %}
    <title>{{ tittle|default:"GraphLogEducation" }}</title>
</head>
<body>
       {% block navBarTop %}{% endblock %}
       {% block navBarLeft %}{% endblock %}
       {% block contenido %}{% endblock %}
</body>
</html>