{% include  "Base/base.html" with tittle="Inicio de sesion"%}

{% block navBarTop %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url "user:login" %}">GraphLog Education</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDespegableTop" aria-controls="navbarDespegableTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarDespegableTop">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "user:login" %}">Autentificación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "user:signup" %}">Registro</a>
      </li>
    </ul>
  </div>
</nav>

{% endblock %}

{% block contenido %}
    <div class="container">
        {% if form.errors %}
                <p>No coinciden el usuario y la contraseña</p>
        {% endif %}
        <form method="POST">
            <div class="form-group">

              {{ form.username.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
                    </div>
                    <input type="text" class="form-control" name="{{ form.username.name }}" id="{{ form.username.id }}" required maxlength="254" autofocus/>
                </div>

            </div>
            <div class="form-group">
               {{ form.password.label_tag }}
                 <div class="input-group">
                     <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key fa-fw"></i> </span></div>
                    <input type="password" class="form-control" name="{{ form.password.name }}" id="{{ form.password.id }}" required maxlength="254" autofocus/>
                 </div>
            </div>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <input type="submit" class="btn btn-primary" value="Enviar">
        </form>

    </div>
{% endblock %}
